<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap Material Design -->
  <!-- Material Design fonts -->
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

   <!-- Bootstrap -->
   <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

   <!-- Bootstrap Material Design -->
   <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
   <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">
  <title>Hm2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
